<a class="thumb" href="<%= page %>">
    <img class="thumb__image" src="<%= imageLink %>" alt="<%= header %>">
    <h2 class="thumb__header"><%= header %></h2>
    <p class="thumb__description"><%= description %></p>
</a>