<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('./_common-blocks/_head/_head.ejs', {      
            title: 'ShootingClub - О клубе', 
            description: 'Почему стоит играть в пейнтбол именно с ShootingClub'}); %>
    </head>
    <body>
        <div class="primary-wrapper">
            <%- include('./_common-blocks/_controls/_controls.ejs') %>  
            <%- include('./_common-blocks/_head-banner/_head-banner.ejs') %>                     
            <main class="main-wrapper">
                <section class="content"> 
                    <h2 class="content__header">О клубе</h2>

                    <h3 class="content__subheader">Как все начиналось</h3>
                    <p class="content__text">
                        Мы начинали заниматься пейнтболом больше 10 лет 
                        назад, тогда это были любительские выезды на природу
                        с возможностью побегать и пострелять. Хобби переросло
                        в тот ShootingClub, который сегодня знаком многим.                        
                    </p>
                    <p class="content__text">
                        Сегодня мы знаем о пейнтболе все, поэтому можем предложить
                        тебе лучшее. С нами ты можешь не беспокоиться о безопасности,
                        технической стороне вопроса, твоя задача - просто наслаждаться игрой.
                    </p>

                    <h3 class="content__subheader">Снаряжение</h3>
                    <p class="content__text"> 
                        Качество и состояние снаряжения постоянно контролируется. 
                        Вся экипировка постоянно обновляется.
                        Мы используем профессиональные маркеры, которые отлично
                        себя зарекомендовали как высокоточное удобное и неприхотливое оружие.                        
                    </p>
                    <p class="content__text">
                        Для обеспечения безопасности игроков, в обязательном 
                        порядке используются шлемы с защитными стеклами из сверхпрочного
                        поликарбоната. Защита рук обеспечивается специальными перчатками,
                        защиту тела игрока гарантирует жилет, делающий безболезненным 
                        попадание из любого маркера.
                    </p>

                    <h3 class="content__subheader">Ценовая политика</h3>
                    <p class="content__text">
                        Наша ценовая политика делает пейнтбол более чем доступным
                        для каждого, кроме того, мы предлагаем гибкую систему скидок
                        для команд и клубные карты с накопительной системой бонусов!
                    </p>
                </section>
                <%- include('./_common-blocks/_news/_news.ejs') %>
            </main>
            <%- include('./_common-blocks/_footer/_footer.ejs') %>
        </div>
    </body>
</html> 