<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('./_common-blocks/_head/_head.ejs', {      
            title: 'ShootingClub - О клубе', 
            description: 'Почему стоит попробовать пейнтбол с ShootingClub'}); %>
    </head>
    <body>
        <div class="primary-wrapper">
            <%- include('./_common-blocks/_controls/_controls.ejs') %>
            <%- include('./_common-blocks/_head-banner/_head-banner.ejs') %>                     
            <main class="main-wrapper">
                <%- include('./_common-blocks/_news/_news.ejs') %>
            </main>
            <%- include('./_common-blocks/_footer/_footer.ejs') %>
        </div>
    </body>
</html> 