<div class="tournament-card">
    <img class="tournament-card__img" src="<%= imageLink %>">           
    <time class="tournament-card__date" datetime="<%= dateAtr %>"><%= dateText %></time>
    <h4 class="tournament-card__header"><%= header %></h4>
    <p class="tournament-card__text"><%= text %></p>    
</div>
